.columns > div {
  display: flex;
  /* flex-wrap: wrap; */
}

.columns > div > div:not(.columns-img-col) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}

.vacationsection .columns > div > div:not(.columns-img-col) {
  color: #fff;
  background-color: rgb(27, 37, 44);
  padding-top: 60px;
  padding-bottom: 60px;
}

.vacationsection .columns > div > div.columns-img-col {
  padding-top: 70px;
  padding-bottom: 70px;
}

.vacationsection .columns > div > div:not(.columns-img-col) h3 a {
  color: #fff;
}

.heelssection .columns > div > div.columns-img-col {
  width: 30%;
}

@media (width < 950px) {
  .columns > div {
    flex-wrap: wrap;
  }

  .heelssection .columns > div > div.columns-img-col {
    flex-grow: 1;
    margin-top: 60px;
  }
}
