 .parent-section {
   display: flex;
   flex-wrap: wrap;
   border-top: 1px solid lightsteelblue;
   border-bottom: 1px solid lightsteelblue;

 }

 footer .footer>div {
   margin: auto;
   max-width: 1200px;
   padding: 40px 24px 20px;
 }

 .footer .parent-section .section {
   flex: 1 1 calc(50% - 15px);
   color: #4b5563;
   font-size: 14px;
   padding-bottom: 10px;
 }

 .footer .parent-section .footer-subscribe {
   flex: 1 1 calc(100% - 15px);
 }

 .footer .parent-section .footer-section-accounts {
   padding-bottom: 10px;
 }

 .footer .parent-section .footer-section-others,
 .footer .parent-section .footer-section-privacy {
   padding-top: 20px;
   text-align: center;
   flex: 1 1 calc(100% - 15px);

 }

 .footer .parent-section .footer-follow-us .icon {
   padding-right: 10px;
   color: #4b5563;
 }

 @media (width >=900px) {
   .footer .parent-section .section {
     flex: 1 1 calc(15% - 15px);
     color: #4b5563;
     font-size: 14px;
     padding-bottom: 40px;

   }

   .footer .parent-section .footer-follow-us,
   .footer .parent-section .footer-subscribe {
     flex: 1 1 calc(22.5% - 15px);
   }

   .footer .parent-section .footer-section-others {
     border-top: 1px solid #4B5563;
     padding-top: 20px;
     flex: 1 1 calc(30% - 15px);
   }

   .footer .parent-section .footer-section-privacy {
     border-top: 1px solid #4B5563;
     padding-top: 20px;
     flex: 1 1 calc(40% - 15px);
   }

   footer .footer>div {
     padding: 40px 40px 20px;
   }
 }